body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}
canvas {
    border: 1px solid #000;
}
#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
button, label {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
